@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/proximanova-light.eot");
  src: local("☺"), url("../fonts/proximanova-light.woff") format("woff"), url("../fonts/proximanova-light.ttf") format("truetype"), url("../fonts/proximanova-light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/proximanova-regular.eot");
  src: local("☺"), url("../fonts/proximanova-regular.woff") format("woff"), url("../fonts/proximanova-regular.ttf") format("truetype"), url("../fonts/proximanova-regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/proximanova-bold.eot");
  src: local("☺"), url("../fonts/proximanova-bold.woff") format("woff"), url("../fonts/proximanova-bold.ttf") format("truetype"), url("../fonts/proximanova-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "ProximaNova";
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.font-light {
  font-weight: 300;
}

.title {
  font-size: 48px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .title {
    font-size: 32px;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 24px;
  }
}

@media (max-width: 320px) {
  .title {
    font-size: 22px;
  }
}

.subtitle {
  font-size: 18px;
  color: #949494;
}

@media (max-width: 500px) {
  .subtitle {
    font-size: 15px;
  }
}

@media (max-width: 320px) {
  .subtitle {
    font-size: 12px;
  }
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 205px;
  height: 50px;
  border-radius: 20px;
  background: linear-gradient(60deg, #49007c 0%, #e70088 100%);
  color: #fff;
  font-size: 18px;
}

.container {
  max-width: 1343px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 53px 0 0 0;
}

@media (max-height: 480px) {
  .header {
    padding: 10px 0 0 0;
  }
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-size: 36px;
  color: #000;
  font-weight: 700;
}

@media (max-width: 480px) {
  .header__logo {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    padding: 70px 10px 20px 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
    z-index: 10;
  }
}

.header__menu.active {
  top: 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .header__list {
    display: block;
    padding: 50px 0 0 0;
  }
  .header__list li {
    text-align: center;
  }
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-size: 18px;
  color: #000;
  width: 101px;
  height: 39px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link:hover {
  border: 1px solid #000;
  border-radius: 20px;
}

@media (max-width: 767px) {
  .header__link {
    color: #fff;
    width: 100%;
    height: auto;
    font-size: 25px;
    margin: 0 0 20px 0;
  }
}

.header__burger {
  display: none;
}

@media (max-width: 850px) {
  .header__burger {
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
    z-index: 11;
  }
  .header__burger:before, .header__burger:after {
    content: '';
    background: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger span {
    position: absolute;
    background: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
}

main {
  font-weight: 300;
  font-size: 18px;
  line-height: 166.66667%;
}

.main-block {
  width: 100%;
  height: 100vh;
}

@media (max-height: 480px) {
  .main-block {
    min-height: 480px;
  }
}

.main-block__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-block__body {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-block__title-block {
  position: relative;
  z-index: 2;
  text-align: center;
  margin: 0 0 62px 0;
}

.main-block__title {
  margin: 0 0 10px 0;
}

.main-block__btn {
  position: relative;
  z-index: 2;
}

.main-block__scroll {
  position: absolute;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  bottom: 53px;
}

@media (max-height: 480px) {
  .main-block__scroll {
    bottom: 26px;
  }
}
