@import "_null";
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/proximanova-light.eot');
	src: local('☺'), url('../fonts/proximanova-light.woff') format('woff'), url('../fonts/proximanova-light.ttf') format('truetype'), url('../fonts/proximanova-light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/proximanova-regular.eot');
	src: local('☺'), url('../fonts/proximanova-regular.woff') format('woff'), url('../fonts/proximanova-regular.ttf') format('truetype'), url('../fonts/proximanova-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/proximanova-bold.eot');
	src: local('☺'), url('../fonts/proximanova-bold.woff') format('woff'), url('../fonts/proximanova-bold.ttf') format('truetype'), url('../fonts/proximanova-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}


body{
	font-family: "ProximaNova";
	@media (max-width:767px) {
		&.lock{
			overflow: hidden;
		}
	}
}
.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	img{
		width: 0;
		height: 0;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
	}
}
.font-light{
	font-weight: 300;
}
.title{
	font-size: 48px;
	font-weight: 700;
	transform: translate(0, 120%);
	opacity:0;
	&.active{
		transform: translate(0, 0);
		opacity:1;
	}
	transition: all 0.5s ease 0s;
	@media (max-width:767px) {
		font-size: 32px;
	}
	@media (max-width:500px) {
		font-size: 24px;
	}
	@media (max-width:320px) {
		font-size: 22px;
	}
}
.subtitle{
	font-size: 18px;
	color: #949494;
	transition: all 0.5s ease 0s;
	transform: translate(0, 120%);
	opacity:0;
	&.active{
		transform: translate(0, 0);
		opacity:1;
	}
	@media (max-width:500px) {
		font-size: 15px;
	}
	@media (max-width:320px) {
		font-size: 12px;
	}
}
.btn{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 205px;
	height: 50px;
	border-radius: 20px;
	background: linear-gradient(60deg, rgb(73,0,124) 0%, rgb(231,0,136) 100%);
	color:#fff;
	font-size: 18px;
}
.row{
	display:flex;
	justify-content: space-between;
	position: relative;
	z-index: 5;
	flex-wrap: wrap;
}
.column{
	&_2{
		flex: 0 0 44%;
		@media (max-width:1024px) {
			flex:0 0 100%;
			&:first-child{
				margin: 0 0 50px 0;
			}
		}
	}
	&_4{
		flex: 0 0 19%;
		@media (max-width:1024px) {
			flex:0 0 50%;
			margin: 0 0 30px 0;
			&:last-child{
				margin: 0;
			}
		}
		@media (max-width:480px) {
			flex:0 0 100%;
		}
	}
}
.container{
	max-width:1343px;
	padding: 0 10px;
	margin: 0 auto;
}
.header{
	position: fixed;
	top:0;
	left:0;
	z-index: 10;
	width: 100%;
	height:106px;
	transition: all 0.3s ease 0s;
	@media (max-height:480px),(max-width:850px)  {
		height: 50px;
	}
	&__container, &__body{
		height: 100%;
	}
	&__body{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo{
		font-size: 36px;
		color:#000;
		font-weight: 700;
		transition: all 0.3s ease 0s;
		@media (max-width:480px) {
			font-size: 24px;
		}
	}
	&__menu{
		@media (max-width:850px) {
			position: fixed;
			top:-100%;
			left:0;
			width: 100%;
			height: 100%;
			background: #000;
			padding: 70px 10px 20px 10px;
			transition: all 0.3s ease 0s;
			overflow:auto;
			z-index: 10;
		}
		&.active{
			top:0;
		}
	}
	&__list{
		display: flex;
		@media (max-width:850px){
			display: block;
			padding: 50px 0 0 0;
			li{
				text-align: center;
			}
		}
	}
	&__link{
		display:flex;
		position: relative;
		font-size: 18px;
		color: #000;
		width: 101px;
		height: 39px;
		justify-content: center;
		align-items: center;
		&:hover{
			border: 1px solid #000;
			border-radius: 20px;
		}
		&.active:hover{
			border-color: #fff;
		}
		@media (max-width:850px) {
			color:#fff;
			width: 100%;
			height: auto;
			font-size: 25px;
			margin: 0 0 20px 0;
		}
	}
	&__burger{
		display: none;
		@media (max-width:850px) {
			position: relative;
			display: block;
			width:30px;
			height: 20px;
			z-index: 11;
			&:before,&:after{
				content:'';
				background: #fff;
				position: absolute;
				width: 100%;
				height: 2px;
				left:0;
				transition: all 0.3s ease 0s;
			}
			span{
				position: absolute;
				background: #fff;
				left:0;
				width: 100%;
				height: 2px;
				top:9px;
				transition: all 0.3s ease 0s;
			}
			&:before{
				top:0;
			}
			&:after{
				bottom: 0;
			}
			&.active span{
				transform: scale(0);
			}
			&.active:before{
				transform: rotate(45deg);
				top:9px;
			}
			&.active:after{
				transform: rotate(-45deg);
				bottom: 9px;
			}
		}
	}
}
main{
	font-weight: 300;
	font-size: 18px;
	line-height: 30px/18px*100%;
}
.main-block{
	width: 100%;
	height: 100vh;
	@media (max-height:480px) {
		min-height: 480px;
	}
	&__bg{
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;

	}
	&__body{
		position: relative;
		z-index: 2;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	&__title-block{
		position: relative;
		z-index: 2;
		text-align: center;
		margin: 0 0 62px 0;
	}
	&__title{
		margin: 0 0 10px 0;
	}
	&__btn{
		position: relative;
		z-index: 2;
	}
	&__scroll{
		position: absolute;
		text-align: center;
		font-weight: 300;
		font-size: 14px;
		color:#fff;
		bottom: 53px;
		@media (max-height:480px) {
			bottom:26px;
		}
	}
	
}
.best{
	padding: 150px 0 144px;
	position: relative;
	@media (max-width:1024px) {
		padding: 25px 0 25px;
	}
	&__bg_1,&__bg_2{
		position: absolute;
		top:0;
		left:0;
		width: 50%;
		height: 100%;
		@media (max-width:1024px) {
			width: 100%;
			height: 50%;
		}
	}
	&__bg_2{
		right: 0;
		left:auto;
		@media (max-width:1024px) {
			top:auto;
			bottom: 0;
		}
	}
	&__title{
		color:#fff;
		margin: 0 0 25px 0;
	}
	&__subtitle{
		color:#fff;
		margin: 0 0 35px 0;
	}
}
.offer{
	padding: 100px 0 104px;
	&__title-block{
		margin: 0 0 110px 0;
	}
	&__title{
		text-align: center;
	}
	.item-offer{
		display: flex;
		margin: 0 0 84px 0;
		&:last-child{
			margin: 0;
		}
		&__img{
			padding: 5px 0 0 0;
			margin: 0 47px 0 0;
			@media (max-width:420px) {
				margin: 0 20px 0 0;
			}
			img{
				height: 81px;
				@media (max-width:1024px) {
					width: 105px;
				}
				@media (max-width:420px) {
					width: 50px;
					height: 25px;
				}
			}
			
		}
		&__title{
			font-size: 30px;
			margin: 0 0 20px 0;
			@media (max-width:500px) {
				font-size: 24px;
			}
			@media (max-width:320px) {
				font-size: 22px;
			}
		}
	}
	
	&__btn{
		margin: 110px auto;
	}
}
.slider{
	position: relative;
	overflow: hidden;
	.swiper-slide{
		text-align: center;
		img{
			max-width: 100%;
		}
	}
	.swiper-button-next, .swiper-button-prev{
		display: block;
		width: 56px;
		height: 58px;
		background: #fff;
		z-index: 5;
		@media (max-width:480px) {
			width: 30px;
			height: 32px;
		}
		&:after{
			font-size: 0;
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}
	.swiper-button-next:after{
		background: url('../img/slider/arrow-next.png') center no-repeat;
	}
	.swiper-button-prev:after{
		background: url('../img/slider/arrow-prev.png') center no-repeat;
	}
}
.about{
	padding: 115px 0;
	position: relative;
	&__bg{
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
	}
	&__container{
		position: relative;
		z-index:5;
	}
	&__title-block{
		text-align: center;
		margin: 0 0 130px 0;
	}
	.title{
		color:#fff;
	}
	&__row{
		justify-content: space-around;
		margin: 0 0 105px 0;
	}
	.item-about{
		text-align: center;
		&__img{
			transform: scale(0);
			transition: all 0.3s ease 0s;
			&.active{
				transform: scale(1);
			}
			margin: 0 0 29px 0;
		}
		&__title{
			font-family: "Roboto";
			font-weight: 700;
			font-size: 24px;
			margin: 0 0 20px;
		}
	}
	&__btn{
		margin: 0 auto;
	}
}
.map{
	position: relative;
	height: 80vh;
	iframe{
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
	}
}